:root {
    --main-background: #2b2b2b;
    --main-text: #E0E0E0;
}
body, html {
    overflow: hidden;
    user-select: none;
}
body {
    margin: 0;
    padding: 0;
    background: var(--main-background);
    color: var(--main-text);
}
#canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
a {
    color: rgb(0, 187, 255)
}
a:visited {
    color: rgb(22, 130, 169)
}
#hud {
    text-align: right;
    position: fixed;
    padding: 1rem;
    bottom: 1rem;
    right: 1rem;
    border: solid 1px #969696;
    border-radius: 0.5rem;
    background-color: hsl(0deg, 0%, 10%, 80%);
    color: #FFFFFF;
    font: 1em sans-serif;
}
#hud td {
    width: 50%;
}
#hud tr > td:first-child {
    text-align: right;
    color: #888888;
}
#hud tr > td:nth-child(2) {
    text-align: left;
    color: #FFFFFF;
}